body{
    text-align: center;
    background-color: #222831;
    overflow-x: hidden;
}

h1{
    
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin-top: 20px;
    
}

h3,footer{
    font-family:'Pacifico', cursive;;
}

h1,h3{
    color: aquamarine;
}

.name-row{
    margin: 5% auto;
}
.dice-one, .dice-two{
    display: inline-block;
}

.dice-one, .dice-one-name{
    padding-left: 35%;
}

.dice-two, .dice-two-name{
    padding-right: 35%;
} 
